---
interface Props {
  host?: string;
}
const { host = 'chrisbenedict.me' } = Astro.props;
---
<div class="topbar">
  <div class="left">{host}</div>
  <div class="right"><span id="time">--:--:--</span> <span id="loc">america/san francisco</span></div>
</div>
